@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.special-text {
    font-family: 'Abel', sans-serif;
}

.truck,
.ship,
.storage {
    width: 25%;
}

@media screen and (max-width: 576px) {

    .truck,
    .ship,
    .storage {
        width: 50%;
    }
}