.testimonial {
    background-image: url("https://st.depositphotos.com/1760420/2136/i/600/depositphotos_21363877-stock-photo-signing-a-contract-on-a.jpg");
    background-color: #0022669d;
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
}