@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.nav-bg {
    background-color: #ecf2f9;
}

.text-color {
    color: #002266;
}

.nav-font {
    font-family: 'Abel', sans-serif;
}

.header-bg {
    background-color: none;
}

.link-color {
    color: white;
}

@media screen and (max-width: 576px) {
    .header-bg {
        background-color: white;
        text-align: center;
    }

    .link-color {
        color: #002266;
    }
}