.equal-card {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.equal-card:hover {
    box-shadow: 0px 0px 20px #002266;
}

.title {
    color: #002266;
}

.text-justify {
    text-align: justify;
}

.card-image {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-btn {
    font-weight: bold;
    border: none;
    background-color: #002266;
    color: white;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}